# Prepared by Siba Kumar Panda,VLSI Verification Engineer
# Github Link :https://github.com/Sibakumarpanda

# Python Data Types

In [2]:
# Python Data types are the classification or categorization of data items. 
# It represents the kind of value that tells what operations can be performed on a particular data. 
# Since everything is an object in Python programming, Python data types are classes and variables are instances (objects) of these classes. 
# The following are the standard or built-in data types in Python:
'''
Numeric - int, float, complex
Sequence Type - string, list, tuple
Mapping Type - dict
Boolean - bool
Set Type - set, frozenset
Binary Types - bytes, bytearray, memoryview
'''

'\nNumeric - int, float, complex\nSequence Type - string, list, tuple\nMapping Type - dict\nBoolean - bool\nSet Type - set, frozenset\nBinary Types - bytes, bytearray, memoryview\n'

# Getting Types of Data used

In [5]:
#  int, float, string, list ,Tuple
x = 50
print(type(x))
x = 60.5
print(type(x))
x = "Hello World" # String
print(type(x))
x = ["Siba", "Kumar", "Panda"] #list
print(type(x))
x = ("Siba", "Kumar", "Panda") #Tuple
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>

# 1. Numeric Data Types in Python (int, float, complex)

In [6]:
# Example
# Integers - This value is represented by int class. 
# It contains positive or negative whole numbers (without fractions or decimals). In Python, there is no limit to how long an integer value can be.
a = 5
print(type(a))

# Float - This value is represented by the float class. 
# It is a real number with a floating-point representation. 
# It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer 
# may be appended to specify scientific notation.
b = 5.0
print(type(b))

# Complex Numbers - A complex number is represented by a complex class. 
# It is specified as (real part) + (imaginary part)j . For example - 2+3j
c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# 2. Sequence Data Types in Python (String ,List , Tuple)

In [12]:
# a. String Data Type:
# Python Strings are arrays of bytes representing Unicode characters. 
# In Python, there is no character data type Python, a character is a string of length one. 
# It is represented by str class.
# Strings in Python can be created using single quotes, double quotes or even triple quotes.
# We can access individual characters of a String using index.
# Example:
s = 'Happy Python Learning'
print(s)
# check data type 
print(type(s))
# access string with index
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[-1]) # It will be Last Character of the String that is (g) / last letter of Learning

Happy Python Learning
<class 'str'>
H
a
p
p
y

P
g

In [13]:
# b. List Data Type
# Lists are just like arrays, declared in other languages which is an ordered collection of data. 
# It is very flexible as the items in a list do not need to be of the same type.
# Creating a List in Python-Lists in Python can be created by just placing the sequence inside the square brackets[].

In [16]:
# Example1
# Empty list
a = []
print (a)
# list with int values
a = [1, 2, 3]
print(a)
# list with mixed int and string
b = ["Happy", "Python", "Coding", 4, 5]
print(b)

[]
[1, 2, 3]
['Happy', 'Python', 'Coding', 4, 5]

In [20]:
# Example2: Accessing List Items
# In order to access the list items refer to the index number. 
# In Python, negative sequence indexes represent positions from the end of the array. 
# Instead of having to compute the offset as in List[len(List)-3], it is enough to just write List[-3]. 
# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second-last item, etc
a = ["Happy", "Python", "Coding"]
print("Accessing element from the list--->")
print(a[0])
print(a[2])

print("Accessing element using negative indexing--->")
print(a[-0]) # Will be same as a[0]
print(a[-1])
print(a[-2])
print(a[-3])

Accessing element from the list--->
Happy
Coding
Accessing element using negative indexing--->
Happy
Coding
Python
Happy

In [21]:
# c. Tuple Data Type
# Just like a list, a tuple is also an ordered collection of Python objects. 
# The only difference between a tuple and a list is that tuples are immutable. 
# Means ,Tuples cannot be modified after it is created.
# Creating a Tuple in Python :
# In Python Data Types, tuples are created by placing a sequence of values separated by a ‘comma’ with or without the 
# use of parentheses for grouping the data sequence. 
# Tuples can contain any number of elements and of any datatype (like strings, integers, lists, etc).
# Note:  Tuples can also be created with a single element, but it is a bit tricky. 
# Having one element in the parentheses is not sufficient, there must be a trailing ‘comma’ to make it a tuple
# Note: The creation of a Python tuple without the use of parentheses is known as Tuple Packing.

In [24]:
# Example1:
# initiate empty tuple
tup1 = ()
print (tup1)
tup2 = ('Happy', 'Coding')
print("\nTuple with the use of String is : ", tup2)

()

Tuple with the use of String is :  ('Happy', 'Coding')

In [36]:
# Example2: The key difference between tuples and lists is that tuples are immutable, while lists are mutable.
# Means : Immutable means that once a tuple is created, it cannot be modified.You cannot add, remove, or change elements after creation.
#         Mutable (like lists) means the object can be modified after creation. You can add, remove, or change elements freely.
# Tuple Example
tup1 = ('Happy', 'Python')
print(tup1)
tup1[2] = 'Coding' # We cannot add in tuple , It wll throw error
print(tup1)

tup2 = (1,2,3)
print(tup2)
tup2[0] = 4  # We cannot Modify in tuple , It wll throw error
print (tup2)

('Happy', 'Python')

TypeError: 'tuple' object does not support item assignment

In [40]:
 #Example3: List Example
my_list1 = ['Happy', 'Python']
print(my_list1)
my_list1[1] = 'Coding' # We can Modify in list
print(my_list1)

my_list2 = [1,2,3]
print(my_list2)
my_list2[0] = 4  # We can Modify in list
print (my_list2)

['Happy', 'Python']
['Happy', 'Coding']
[1, 2, 3]
[4, 2, 3]

In [41]:
# Example4: Access Tuple Items
# In order to access the tuple items refer to the index number. 
# Use the index operator [ ] to access an item in a tuple.
tup1 = tuple([1, 2, 3, 4, 5])
# access tuple items
print(tup1[0])
print(tup1[-1])
print(tup1[-3])

1
5
3

In [46]:
# Example5: Tuples can contain any number of elements and of any datatype (like strings, integers, lists, etc).
tup1 = ("Siba", 500 ,[1,2,3])
print(tup1)
print(tup1[0])
print(tup1[1])
print(tup1[2])
print(tup1[-1])
print(tup1[-2])
print(tup1[-3])

('Siba', 500, [1, 2, 3])
Siba
500
[1, 2, 3]
[1, 2, 3]
500
Siba

In [54]:
# Example6: Tuples can also be created with a single element, but it is a bit tricky. 
tup1 = (500)
tup2 = ('Siba')
print(tup1)
print (type(tup1)) # It is not considered as Tuple , its an integer 
print(tup2)
print (type(tup2)) # It is not considered as Tuple , its a String

500
<class 'int'>
Siba
<class 'str'>

In [51]:
# Example7: Having one element in the parentheses is not sufficient, there must be a trailing ‘comma’ to make it a tuple
tup1 = (500,)
tup2 = ('Siba',)
tup3 = ([1,2,3,4],)
print(tup1)
print (type(tup1))
print(tup2)
print (type(tup2))
print(tup3)
print (type(tup3))

(500,)
<class 'tuple'>
('Siba',)
<class 'tuple'>
([1, 2, 3, 4],)
<class 'tuple'>

In [55]:
# Example8: The creation of a Python tuple without the use of parentheses is known as Tuple Packing.
# Packing means combining multiple values into a single tuple.
# The commas , tell Python: "Treat these values as a tuple"
my_tuple = 1, 2, 3, "hello"  # No parentheses used
print(my_tuple)              # Output: (1, 2, 3, 'hello')
print(type(my_tuple))        # Output: <class 'tuple'>

(1, 2, 3, 'hello')
<class 'tuple'>

In [61]:
#Example9: Tuple Unpacking (Reverse of Packing)
# You can also extract values from a tuple into separate variables.This is called "Tuple Unpacking".
# When you unpack a tuple, Python assigns each value to individual variables—so they take the data type of the unpacked elements, 
# not the tuple itself.
x, y, z = (100, 200, 300)  # Unpacking a tuple
print(x)  # Output: 100
print(y)  # Output: 200
print(z)  # Output: 300
print(type(x))
print(type(y))
print(type(z))

# Example10:
p, q, r = (100,), (200,), (300,)  # Each is a single-element tuple
print(p)
print(q)
print(r)
print(type(p))  # <class 'tuple'>
print(type(q))
print(type(r))

100
200
300
<class 'int'>
<class 'int'>
<class 'int'>
(100,)
(200,)
(300,)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# 3. Boolean Data Type in Python

In [62]:
# Python Data type with one of the two built-in values, True or False. 
# Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). 
# However non-Boolean objects can be evaluated in a Boolean context as well and determined to be true or false. 
# It is denoted by the class bool.

In [63]:
# Example1:
# The first two lines will print the type of the boolean values True and False, which is <class 'bool'>. 
# The third line will cause an error, because true is not a valid keyword in Python. 
# Python is case-sensitive, which means it distinguishes between uppercase and lowercase letters.
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [64]:
# Example2:
print(type(true)) # true is not a valid keyword , True is valid

NameError: name 'true' is not defined

# 4. Set Data Type in Python (set, frozenset)

In [1]:
# In Python Data Types, Set is an unordered collection of data types that is iterable, mutable, and has no duplicate elements. 
# The order of elements in a set is undefined though it may consist of various elements.
# Create a Set in Python
# Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, 
# separated by a ‘comma’. The type of elements in a set need not be the same, various mixed-up data type values can also be passed to the set.

In [4]:
#Example1: How to create sets using different types of values, such as strings , lists , and mixed values
# initializing empty set
s1 = set()
print(s1)

s1 = set("SibaKumarPanda")                     # Creating a set from a string
print("Set with the use of String: ", s1)

s2 = set(["Siba", "Kumar", "Kumar" ,"Panda"])  # Creating a set from a list
print("Set with the use of List: ", s2)

set()
Set with the use of String:  {'b', 'K', 'n', 'P', 'm', 'a', 'i', 'u', 'S', 'd', 'r'}
Set with the use of List:  {'Kumar', 'Siba', 'Panda'}

In [7]:
# Example2: Accessing Set Items
# Set items cannot be accessed by referring to an index, since sets are unordered the items have no index. 
# But we can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in the keyword.

s1 = set(["Siba", "Kumar", "Kumar" , "Panda"])
print(s1)

# loop through set
for i in s1:
    print(i, end=" ") 
    
# check if item exist in set    
print("Siba" in s1)

{'Kumar', 'Siba', 'Panda'}
Kumar Siba Panda True

# 5. Dictionary Data Type

In [8]:
# A dictionary in Python is a collection of data values, used to store data values like a map, unlike other Python Data Types 
# that hold only a single value as an element, a Dictionary holds a key: value pair. 
# Key-value is provided in the dictionary to make it more optimized. 
# Each key-value pair in a Dictionary is separated by a colon : , whereas each key is separated by a ‘comma’.

In [10]:
# Creating a Dictionary in Python
# Values in a dictionary can be of any datatype and can be duplicated, whereas keys can’t be repeated and must be immutable. 
# The dictionary can also be created by the built-in function dict().
# Example1:
# initialize empty dictionary
d1 = {}
print(d1)

d2 = {1: 'Siba', 2: 'Kumar', 3: 'Panda'}
print(d2)

# creating dictionary using dict() constructor
d3 = dict({1: 'Siba', 2: 'Kumar', 3: 'Panda'})
print(d3)

{}
{1: 'Siba', 2: 'Kumar', 3: 'Panda'}
{1: 'Siba', 2: 'Kumar', 3: 'Panda'}

In [16]:
# Example2: Accessing Key-value in Dictionary
# In order to access the items of a dictionary refer to its key name. 
# Key can be used inside square brackets. 
# Using get() method we can access the dictionary elements.

d1 = {1: 'Siba', 'Name': 'Siku', 3: 'Pinku'}
# Accessing an element using key
print(d1[1])
print(d1[3])
print(d1['Name'])
print("**********")
# Accessing a element using get
print(d1.get(3))

Siba
Pinku
Siku
**********
Pinku

In [19]:
# Example: Basic list operations
fruits = ["apple", "banana", "orange"]
print(fruits)
print(type(fruits))
fruits.append("grape")
print(fruits)
fruits.remove("orange")
print(fruits)
print(type(fruits))

['apple', 'banana', 'orange']
<class 'list'>
['apple', 'banana', 'orange', 'grape']
['apple', 'banana', 'grape']
<class 'list'>

In [20]:
# Example: Basic tuple operation
coordinates = (3, 5)
print(coordinates)
print(type(coordinates))
print("X-coordinate:", coordinates[0])
print("Y-coordinate:", coordinates[1])

(3, 5)
<class 'tuple'>
X-coordinate: 3
Y-coordinate: 5