# Prepared by Siba Kumar Panda,VLSI Verification Engineer
# Github Link :https://github.com/SibakumarpandaÂ¶

# Python Tuple

In [99]:
# Python Tuple is a collection of objects separated by commas. 
# A tuple is similar to a Python list in terms of indexing, nested objects, and repetition.
# but the main difference between both is Python tuple is immutable, unlike the Python list which is mutable.
# Note : In case of list, we use square brackets []. But in case Tuple, we use round brackets ()
# Example1
tup1 = (10, 20, 30) 
print(tup1)
print(type(tup1))

(10, 20, 30)
<class 'tuple'>

# What is Immutable in Tuples?

In [102]:
# tuples are immutable. Some Characteristics areas below:
# Like Lists, tuples are ordered and we can access their elements using their index values
# We cannot update items to a tuple once it is created. 
# Tuples cannot be appended or extended.
# We cannot remove items from a tuple once it is created.

In [103]:
# Example2:
tup2 = (1, 2, 3, 4, 5)
# tuples are indexed
print(tup2[1])
print(tup2[4])
print(type(tup2))

# tuples contain duplicate elements
tup3 = (1, 2, 3, 4, 2, 3)
print(tup3)
print(type(tup3))

# updating an element, we will get an error
tup3[1] = 100
print(tup3)    #TypeError: 'tuple' object does not support item assignment

2
5
<class 'tuple'>
(1, 2, 3, 4, 2, 3)
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [104]:
# Example3: Same above example2 with list
tup2 = [1, 2, 3, 4, 5]   # Here tup2 is a list type , because we used () bracket here
# tuples are indexed
print(tup2[1])
print(tup2[4])
print(type(tup2))

# tup3 which is a lit contains duplicate elements
tup3 = [1, 2, 3, 4, 2, 3]  # Here tup3 is a list , because we used () bracket here
print(tup3)
print(type(tup3))

# In list by updating an element, we will not get an error
tup3[1] = 100
print(tup3)

2
5
<class 'list'>
[1, 2, 3, 4, 2, 3]
<class 'list'>
[1, 100, 3, 4, 2, 3]

# Accessing Values in Python Tuples

In [105]:
# Tuples in Python provide two ways by which we can access the elements of a tuple.
# Python Access Tuple using a Positive Index
# Python Access Tuple using a Negative Index

In [106]:
# Example4: Using square brackets we can get the values from tuples in Python.
# using a Positive Index
tup4 = (10, 5, 20)
print("Value in tup4[0] = ", tup4[0])
print("Value in tup4[1] = ", tup4[1])
print("Value in tup4[2] = ", tup4[2])

Value in tup4[0] =  10
Value in tup4[1] =  5
Value in tup4[2] =  20

In [107]:
# Example5: Using square brackets we can get the values from tuples in Python.
# using a Negative Index
tup4 = (10, 5, 20)
print("Value in tup4[-1] = ", tup4[-1])
print("Value in tup4[-2] = ", tup4[-2])
print("Value in tup4[-3] = ", tup4[-3])
print("Value in tup4[-0] = ", tup4[-0])  # Same as tup4[0]

Value in tup4[-1] =  20
Value in tup4[-2] =  5
Value in tup4[-3] =  10
Value in tup4[-0] =  10

# Different Operations Related to Tuples

In [108]:
# Example6-Traversing Items of Python Tuples
# Like List Traversal, we can traverse through a tuple using for loop.
# Define a tuple
tup5 = (1, 2, 3, 4, 5)
# Traverse through each item in the tuple
for x in tup5:
    print(x, end=" ")

print (type(tup5))

tup6 = (10,20,30,40,50,60,70,80,90,100)
for i in tup6:
    print ("Value of tup6[i]=",i)

1 2 3 4 5 <class 'tuple'>
Value of tup6[i]= 10
Value of tup6[i]= 20
Value of tup6[i]= 30
Value of tup6[i]= 40
Value of tup6[i]= 50
Value of tup6[i]= 60
Value of tup6[i]= 70
Value of tup6[i]= 80
Value of tup6[i]= 90
Value of tup6[i]= 100

In [109]:
# Example7-Concatenation of Python Tuples
# To Concatenation of Python Tuples, we will use plus operators(+)
tup7 = (0, 1, 2, 3)
tup8 = ('Siba', 'the', 'Python' , 'Lover')
print(tup7)
print(type(tup7))
print(tup8)
print(type(tup8))
# Concatenating above two and print directly
print(tup7 + tup8)
x = tup7 + tup8 # Concatenating two tuple and get assigned to another tuple and then print
print (x)
print (type(x))

(0, 1, 2, 3)
<class 'tuple'>
('Siba', 'the', 'Python', 'Lover')
<class 'tuple'>
(0, 1, 2, 3, 'Siba', 'the', 'Python', 'Lover')
(0, 1, 2, 3, 'Siba', 'the', 'Python', 'Lover')
<class 'tuple'>

In [110]:
# Example8- Nested Tuple : Nesting of Python Tuples
# A nested tuple in Python means a tuple inside another tuple.
tup7 = (0, 1, 2, 3)
tup8 = ('Siba', 'the', 'Python' , 'Lover')
print(tup7,tup8)
tup9 = (tup7,tup8)
print (tup9)

(0, 1, 2, 3) ('Siba', 'the', 'Python', 'Lover')
((0, 1, 2, 3), ('Siba', 'the', 'Python', 'Lover'))

In [111]:
# Example9 -Repetition Python Tuples
# We can create a tuple of multiple same elements from a single element in that tuple.
print('Executing Example9--------------->')
tup10 = ('Python',)*5
print(tup10)
print(type(tup10))

for i in tup10:
    print (i)

# Example10 -Repetition Python Tuples
# We can create a tuple of multiple same elements from a single element in that tuple.
print('Executing Example10------------>')
tup10 = ('Python')*3
print(tup10)
print(type(tup10))
for i in tup10:
    print(i, end=" ")

Executing Example9--------------->
('Python', 'Python', 'Python', 'Python', 'Python')
<class 'tuple'>
Python
Python
Python
Python
Python
Executing Example10------------>
PythonPythonPython
<class 'str'>
P y t h o n P y t h o n P y t h o n

In [112]:
# Example11- Slicing Tuples in Python
# Slicing a Python tuple means dividing a tuple into small tuples using the indexing method. 
# In below example, we slice the tuple from index 1 to the last element. 
# In the second print statement, we printed the tuple using reverse indexing. 
# And in the third print statement, we printed the elements from index 2 to 4
# Note-In Python slicing, the end index provided is not included.
tup11 = (0 ,1, 2, 3)
print(tup11[1:])
print(tup11[::-1])
print(tup11[2:4])
print(tup11[2:3]) # Slicing, the end index provided is not included, so Printing only 2 here
print(tup11[3])
# print (tup11[4]) # we will get IndexError: tuple index out of range

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)
(2,)
3

In [113]:
# Example12- Deleting a Tuple in Python
# In this example, we are deleting a tuple using 'del' keyword. 
# The output will be in the form of error because after deleting the tuple, it will give a NameError.
# Note: Remove individual tuple elements is not possible, but we can delete the whole Tuple using Del keyword.
tup12 = ( 0, 1 , 2, 3, 4)
del tup12
# print(tup12) NameError: name 'tup12' is not defined

tup13 = ( 10 , 20, 30, 40)
print(tup13)
tup13[5] =50  # TypeError: 'tuple' object does not support item assignment
print(tup13)

(10, 20, 30, 40)

TypeError: 'tuple' object does not support item assignment

In [114]:
# Example13- Finding the Length of a Python Tuple
# To find the length of a tuple, we can use Python's len() function and pass the tuple as the parameter.
tup14 = ('Siba', 'Kumar', 'Panda')
print(len(tup14))
print (type(tup14))

tup15 = ('Siba', 'Kumar' 'Panda') # Here comma is missed in between Kumar and Panda , so it considered as two element in tup15
print(len(tup15))
print (type(tup15))

3
<class 'tuple'>
2
<class 'tuple'>

In [115]:
#Example14- Multiple Data Types With Tuple
# Tuples in Python are heterogeneous in nature. 
# This means tuples support elements with multiple datatypes.
tup16 = ("immutable", True, 23, "Siba",'Kumar', [1,2,3] ,(1,2,3))
print(tup16)
print(type(tup16))
for i in tup16:
    print(i)
print ("The element is : ", tup16[0], type(tup16[0])) 
print ("The element is : ", tup16[1], type(tup16[1])) 
print ("The element is : ", tup16[2], type(tup16[2])) 
print ("The element is : ", tup16[3], type(tup16[3])) 
print ("The element is : ", tup16[4], type(tup16[4])) 
print ("The element is : ", tup16[5], type(tup16[5])) 
print ("The element is : ", tup16[6], type(tup16[6]))

('immutable', True, 23, 'Siba', 'Kumar', [1, 2, 3], (1, 2, 3))
<class 'tuple'>
immutable
True
23
Siba
Kumar
[1, 2, 3]
(1, 2, 3)
The element is :  immutable <class 'str'>
The element is :  True <class 'bool'>
The element is :  23 <class 'int'>
The element is :  Siba <class 'str'>
The element is :  Kumar <class 'str'>
The element is :  [1, 2, 3] <class 'list'>
The element is :  (1, 2, 3) <class 'tuple'>

In [116]:
# Example15- Converting a List to a Tuple and Tuple to a list
# We can convert a list in Python to a tuple by using the tuple() constructor and passing the list as its parameters.
# Code for converting a list and a string into a tuple
a = [0, 1, 2]  # here a is a list
print (type(a))
tup = tuple(a)
print(tup)
print (type(tup))

# We can convert a Tuple in Python to a list by using the list() constructor and passing the tuple as its parameters.
print("***************************")
a = (0, 1, 2)  # here a is a Tuple
print (type(a))
lis = list(a)
print(lis)
print (type(lis))

<class 'list'>
(0, 1, 2)
<class 'tuple'>
***************************
<class 'tuple'>
[0, 1, 2]
<class 'list'>

In [117]:
# Example16-Tuples in a Loop
# We can also create a tuple with a single element in it using loops.

tup17 = ('SKP',)

# Number of time loop runs
n = 5 
for i in range(int(n)):
    tup17 = (tup17,)
    print(tup17)

(('SKP',),)
((('SKP',),),)
(((('SKP',),),),)
((((('SKP',),),),),)
(((((('SKP',),),),),),)

# Different Ways of Creating a Tuple

In [118]:
# The different ways are :
# Using round brackets
# Without Brackets
# Tuple Constructor
# Empty Tuple
# Single Element Tuple
# Using Tuple Packing

In [119]:
# Example17:

# Using round brackets
tup1 = ("Siba", "Python")   
print(tup1)
print(type(tup1))
print("******************")

# Creating a tuple without brackets
tup2 = 4, 5, 6
print(tup2)
print(type(tup2))
print("******************")

tup3 = "Siba", "Python"
print(tup3)
print(type(tup3))
print("******************")

tup4 = "Siba", 
print(tup4)
print(type(tup4))
print("******************")

tup5 = "Siba"   # It will be a String , not a Tuple
print(tup5)
print(type(tup5))
print("******************")

# Creating a tuple using the tuple() constructor
tup6 = tuple([7, 8, 9])
print(tup6)
print(type(tup6))
print("******************")

tup7 = tuple(["Siba", "Kumar", "Panda"])
print(tup7)
print(type(tup7))
print("******************")

# Creating an empty tuple
tup8 = ()
print(tup8)
print(type(tup8))
print("******************")

# Creating a single-element tuple
tup9 = (50, )         # Comma is important here
print(tup9)           # Output: (10,)
print(type(tup9))
print("******************")

# What if we do not use comma
tup10 = (50)            # This an integer (not a tuple)
print(tup10)  
print(type(tup10))
print("******************")

# Tuple packing
a, b, c = 60, 70, 80
tup11 = (a, b, c)
print(tup11)
print(type(tup11))
print("******************")

('Siba', 'Python')
<class 'tuple'>
******************
(4, 5, 6)
<class 'tuple'>
******************
('Siba', 'Python')
<class 'tuple'>
******************
('Siba',)
<class 'tuple'>
******************
Siba
<class 'str'>
******************
(7, 8, 9)
<class 'tuple'>
******************
('Siba', 'Kumar', 'Panda')
<class 'tuple'>
******************
()
<class 'tuple'>
******************
(50,)
<class 'tuple'>
******************
50
<class 'int'>
******************
(60, 70, 80)
<class 'tuple'>
******************

# Tuple Built in Methods : index()

In [120]:
# Tuples support only a few methods due to their immutable nature. 
# The two most commonly used methods are count() and index()
# index( )	Find in the tuple and returns the index of the given value where it's available
# count( )	Returns the frequency of occurrence of a specified value

In [121]:
# Example19: Uses of index()  method in Tuple
# Syntax of tuple index() method
# tuple.index(element, start, end)
# Parameters:
# element (required): The item to search for.
# start (optional): Index to start the search from (default is 0).
# end (optional): Index to end the search (exclusive, default is end of list).

tup1 = ("Siba", "Kumar", "Panda")
print(tup1)
print (type(tup1))
print(tup1.index("Siba"))
print(tup1.index("Panda"))

tup2 = ("Siba", "Kumar", "Panda","Siba", "Biranchi" , "Siba")
print(tup2)
print (type(tup2))
print(tup2.index("Siba"))       # same as print(tup2.index("Siba",0,5))
print(tup2.index("Siba",1,5))
print(tup2.index("Siba",3,5))
print(tup2.index("Siba",0,5))
print(tup2.index("Siba",5,5))

('Siba', 'Kumar', 'Panda')
<class 'tuple'>
0
2
('Siba', 'Kumar', 'Panda', 'Siba', 'Biranchi', 'Siba')
<class 'tuple'>
0
3
3
0

ValueError: tuple.index(x): x not in tuple

In [122]:
# Example20: In this example, we are searching for the index of the number 40 within a specific range of the tuple from index 4 to 7 .
tup3 = (10, 20, 30, 40, 50, 40, 60, 40, 70)
print(tup3)
print(type(tup3))
res = tup3.index(40, 4, 8)
print(res)

(10, 20, 30, 40, 50, 40, 60, 40, 70)
<class 'tuple'>
5

In [123]:
# Example21: In this example, we try to find the index of 'yellow' in the tuple and handle the error with a try-except block if it's not found.
tup4 = ('red', 'green', 'blue')
try:
    index = tup4.index('yellow')
    print(tup4)
    print(index)
except ValueError:
    print("Not Present")

print("*******************")
tup5 = ('red', 'green', 'blue' ,'yellow')
try:
    index = tup5.index('yellow')
    print(tup5)
    print(index)
except ValueError:
    print("Not Present")

Not Present
*******************
('red', 'green', 'blue', 'yellow')
3

In [124]:
# Example22: In this example, we are finding the index of the list ["Bob", 22] in a tuple of list 
# and index() will return the position of its first occurrence.
tup5 = (["Alice", 21], ["Bob", 22], ["Charlie", 20], ["Biranchi", 24]) # A tuple of lists
res1 = tup5.index(["Bob", 22])
print(res1)
res2 = tup5.index(["Biranchi", 24])
print(res2)

1
3

# Tuple Built in Method : count()

In [125]:
# Example23:The count() method is used to find the number of times a specific element occurs in a tuple. 
# It is very useful in scenarios where we need to perform frequency analysis on the data.
# Syntax :  tuple_name.count(value) 
# Return Type: it an integer value, which represents the number of times the specified element appears in the tuple.

tup6 = (1, 2, 3, 1, 2, 1, 4)
print (tup6)
print(type(tup6))
result = tup6.count(1)
print(result)

(1, 2, 3, 1, 2, 1, 4)
<class 'tuple'>
3

In [126]:
# Example24: Tuple Containing Different Datatypes and use count () to observe
tup7 = ("immutable", True, 23, "Siba",'Kumar', [1,2,3] ,(1,2,3),23, "Siba" , "Kumar", 1, (1,2,3),1,False)
print(tup7)
print(type(tup7))
for i in tup7:
    print(i)
    
print ("The element is : ", tup7[0], type(tup7[0])) 
print ("The element is : ", tup7[1], type(tup7[1])) 
print ("The element is : ", tup7[2], type(tup7[2])) 
print ("The element is : ", tup7[3], type(tup7[3])) 
print ("The element is : ", tup7[4], type(tup7[4])) 
print ("The element is : ", tup7[5], type(tup7[5])) 
print ("The element is : ", tup7[6], type(tup7[6])) 
print ("******************************************")
result1 = tup7.count("Siba")
print ("The Count Number for result1 is : ",result1)

result2 = tup7.count("Kumar")
print ("The Count Number for result2 is : ",result2)

result3 = tup7.count("siba")  # Here we are counting for siba - where s is small letter , be careful .so result will be zero
print ("The Count Number for result3 is : ",result3)

result4 = tup7.count("kumar") # Here we are counting for kumar - where k is small letter , be careful .so result will be zero
print ("The Count Number for result4 is : ",result4)

result5 = tup7.count(1)      # Here count result will come as 3 , because there are two number of 1s present and True is present which equivalent to 1
print ("The Count Number for result5 is : ",result5)

result6 = tup7.count(23)
print ("The Count Number for result6 is : ",result6)

result7 = tup7.count(0)     # Here though 0s are not present but one False is present which equivalent to 0
print ("The Count Number for result7 is : ",result7)

result8 = tup7.count((1, 2, 3))
print ("The Count Number for result8 is : ",result8)

('immutable', True, 23, 'Siba', 'Kumar', [1, 2, 3], (1, 2, 3), 23, 'Siba', 'Kumar', 1, (1, 2, 3), 1, False)
<class 'tuple'>
immutable
True
23
Siba
Kumar
[1, 2, 3]
(1, 2, 3)
23
Siba
Kumar
1
(1, 2, 3)
1
False
The element is :  immutable <class 'str'>
The element is :  True <class 'bool'>
The element is :  23 <class 'int'>
The element is :  Siba <class 'str'>
The element is :  Kumar <class 'str'>
The element is :  [1, 2, 3] <class 'list'>
The element is :  (1, 2, 3) <class 'tuple'>
******************************************
The Count Number for result1 is :  2
The Count Number for result2 is :  2
The Count Number for result3 is :  0
The Count Number for result4 is :  0
The Count Number for result5 is :  3
The Count Number for result6 is :  2
The Count Number for result7 is :  1
The Count Number for result8 is :  2

In [128]:
# Example25: Count occurrence of sub-tuples in a Tuple
# The count() method does not search within nested tuple and it will only count occurrences at the top level.
tup8 = (1, (2, 3), 1, (2, 3), 1)
result8 = tup8.count((2, 3))
print(result8)

2

In [129]:
# Example26: Counting Word Frequency in a List
# This example simulates word analysis in a sentence by counting how often a word appears.
# In below example .split() method splits the string into a list of words.
# We use count() to check how many times "python" and "is" appear.
s = "Siba Kumar loves python much so python lovers is Siba".split()
c1 = s.count("python")
c2 = s.count("Siba")
print(c1)
print(c2)

2
2

# List Built in Method: index()

In [130]:
# Example27: Uses of index()  method in List
# Syntax of list index() method
# list.index(element, start, end)
# Parameters:
# element (required): The item to search for.
# start (optional): Index to start the search from (default is 0).
# end (optional): Index to end the search (exclusive, default is end of list).

lst1 = ["Siba", "Kumar", "Panda"]
print(lst1)
print (type(lst1))
print(lst1.index("Siba"))
print(lst1.index("Panda"))
print ("**************")
lst2 = ["Siba", "Kumar", "Panda","Siba", "Biranchi" , "Siba"]
print(lst2)
print (type(lst2))
print(lst2.index("Siba"))       # same as print(tup2.index("Siba",0,5))
print(lst2.index("Siba",1,5))
print(lst2.index("Siba",3,5))
print(lst2.index("Siba",0,5))
print(lst2.index("Siba",5,5))

['Siba', 'Kumar', 'Panda']
<class 'list'>
0
2
**************
['Siba', 'Kumar', 'Panda', 'Siba', 'Biranchi', 'Siba']
<class 'list'>
0
3
3
0

ValueError: 'Siba' is not in list

In [131]:
# Example28: In this example, we are searching for the index of the number 40 within a specific range of the list from index 4 to 7 .
lst3 = [10, 20, 30, 40, 50, 40, 60, 40, 70]
print(lst3)
print(type(lst3))
res = lst3.index(40, 4, 8)
print(res)

[10, 20, 30, 40, 50, 40, 60, 40, 70]
<class 'list'>
5

In [132]:
# Example29: In this example, we try to find the index of 'yellow' in the list and handle the error with a try-except block if it's not found.
lst4 = ['red', 'green', 'blue']
try:
    index = lst4.index('yellow')
    print(lst4)
    print(index)
except ValueError:
    print("Not Present")

print("*******************")
lst5 = ['red', 'green', 'blue' ,'yellow']
try:
    index = lst5.index('yellow')
    print(lst5)
    print(index)
except ValueError:
    print("Not Present")

Not Present
*******************
['red', 'green', 'blue', 'yellow']
3

In [133]:
# Example30: In this example, we are finding the index of the Tuple ("Bob", 22) in a list of Tuple 
# and index() will return the position of its first occurrence.
lst5 = [("Alice", 21), ("Bob", 22), ("Charlie", 20), ("Biranchi", 24)] # A List of Tuples
res1 = lst5.index(("Bob", 22))
print(res1)
res2 = lst5.index(("Biranchi", 24))
print(res2)

1
3

# List Built in Method: count()

In [134]:
# Example31:The count() method is used to find the number of times a specific element occurs in a list. 
# It is very useful in scenarios where we need to perform frequency analysis on the data.
# Syntax :  list_name.count(value) 
# Return Type: it an integer value, which represents the number of times the specified element appears in the list.

lst6 = [1, 2, 3, 1, 2, 1, 4]
print (lst6)
print(type(lst6))
result = lst6.count(1)
print(result)

[1, 2, 3, 1, 2, 1, 4]
<class 'list'>
3

In [135]:
# Example32: Lits Containing Different Datatypes and use count () to observe
lst7 = ["immutable", True, 23, "Siba",'Kumar', [1,2,3] ,(1,2,3),23, "Siba" , "Kumar", 1, (1,2,3),1,False]
print(lst7)
print(type(lst7))
for i in lst7:
    print(i)
    
print ("The element is : ", lst7[0], type(lst7[0])) 
print ("The element is : ", lst7[1], type(lst7[1])) 
print ("The element is : ", lst7[2], type(lst7[2])) 
print ("The element is : ", lst7[3], type(lst7[3])) 
print ("The element is : ", lst7[4], type(lst7[4])) 
print ("The element is : ", lst7[5], type(lst7[5])) 
print ("The element is : ", lst7[6], type(lst7[6])) 
print ("******************************************")
result1 = lst7.count("Siba")
print ("The Count Number for result1 is : ",result1)

result2 = lst7.count("Kumar")
print ("The Count Number for result2 is : ",result2)

result3 = lst7.count("siba")  # Here we are counting for siba - where s is small letter , be careful .so result will be zero
print ("The Count Number for result3 is : ",result3)

result4 = lst7.count("kumar") # Here we are counting for kumar - where k is small letter , be careful .so result will be zero
print ("The Count Number for result4 is : ",result4)

result5 = lst7.count(1)      # Here count result will come as 3 , because there are two number of 1s present and True is present which equivalent to 1
print ("The Count Number for result5 is : ",result5)

result6 = lst7.count(23)
print ("The Count Number for result6 is : ",result6)

result7 = lst7.count(0)     # Here though 0s are not present but one False is present which equivalent to 0
print ("The Count Number for result7 is : ",result7)

result8 = lst7.count((1, 2, 3))
print ("The Count Number for result8 is : ",result8)

['immutable', True, 23, 'Siba', 'Kumar', [1, 2, 3], (1, 2, 3), 23, 'Siba', 'Kumar', 1, (1, 2, 3), 1, False]
<class 'list'>
immutable
True
23
Siba
Kumar
[1, 2, 3]
(1, 2, 3)
23
Siba
Kumar
1
(1, 2, 3)
1
False
The element is :  immutable <class 'str'>
The element is :  True <class 'bool'>
The element is :  23 <class 'int'>
The element is :  Siba <class 'str'>
The element is :  Kumar <class 'str'>
The element is :  [1, 2, 3] <class 'list'>
The element is :  (1, 2, 3) <class 'tuple'>
******************************************
The Count Number for result1 is :  2
The Count Number for result2 is :  2
The Count Number for result3 is :  0
The Count Number for result4 is :  0
The Count Number for result5 is :  3
The Count Number for result6 is :  2
The Count Number for result7 is :  1
The Count Number for result8 is :  2

In [136]:
# Example33: Count occurrence of sub-list in list of Lists
# The count() method does not search within nested lists and it will only count occurrences at the top level.
lst8 = [1, [2, 3], 1, [2, 3], 1]
result8 = lst8.count([2, 3])
print(result8)

2

In [137]:
# Example34: Counting Word Frequency in a List
# This example simulates word analysis in a sentence by counting how often a word appears.
# In below example .split() method splits the string into a list of words.
# We use count() to check how many times "python" and "is" appear.
s = "python is easy to learn and python is powerful".split()
c1 = s.count("python")
c2 = s.count("is")
print(c1)
print(c2)

2
2